html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.outer-form-container {
  display: flex;

  height: 100%;
  align-items: center;
  justify-content: center;
}

.outer-form-container .row {
  width: 70%;
  padding: 20px;
  margin: 0 auto;
}

.outer-form-container form {
  padding: 20px;
  background: rgba(121, 121, 121, 0.438);
}
